@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;

}


.home-body{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),  url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
}




.wrapper {
    background: rgb(54, 81, 55);
    position: fixed;
    left: -225px;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.wrapper.active {
    left: 0;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: grey;
    margin: 15% auto;
    color: white;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 3px;
    width: 25%;
    height: 40%;
    padding: 1.5em;

}



.steps{
    margin-top: 1em;
}

.steps li {
    list-style: decimal;
    margin-left: 1em;
    margin-bottom: .5em;
}



#close {
    display: flex;
    justify-content: right;
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: bold;
}

.steps ol {

}




.header-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav {
    margin-left: 0;
    background-color: #3E9F48;
    color: white;
}

nav .header-container {
    height: 13vh;
}

.title {
    display: flex;
    align-items: center;
}

.title img {
    width: 82px;
    margin-right: 1.2rem;
}

.menu {
    cursor: pointer;
    margin-left: 1.2rem;
    margin-right: 1.5rem;
}

.bar1, .bar2, .bar3 {
    border-bottom: 3px solid white;
    width: 35px;
    height: 5px;
    margin: 6px 0;
}





.links ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links li {
    margin-right: 1.5rem;
    
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 87vh;

}

.buttons {
    text-align: center;
}



section h1 {
    font-size: 46px;
    color: white;
}

.btn {
    display: inline-block;
    background-color: #3E9F48;
    padding: 10px 35px;
    border-radius: 30px;
    margin: 10px;
    color: white;
    transition: 0.2s;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: #44b14f;
    
}


.mdi{
    margin-right: 10px;
}

.profile {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.profile img {
    width: 82px;
    padding-bottom: 15px;
}



.sidebar-button {
    display: block;
    text-align: center;
    background-color: rgb(65, 99, 66);
    text-decoration: none;
    color: white;
    padding: 20px;
    margin-top: 10px;
    transition: 0.2s;
}

.sidebar-button:hover {
    background-color: rgb(72, 110, 74);
}


.nav-header h3{
    font-size: 1.3em;
}


.nav-header a {
    color: white;
    font-size: 1.1em;
    font-weight: normal
}

.home-container h3 {
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
}

.responsive-visibility {
    display: none;
}

.close-sidebar {
    display: flex;
    justify-content: right;
    color: white;
    font-size: 2em;
    margin-right: 1em;
    cursor: pointer;
}

.title h3 {
    text-align: center;
}


@media only screen and (max-width: 992px) {

    .btn {
        padding: 15px 30px;
        font-size: 18px;
    }

    .home-container h1 {
        font-size: 40px;
    }


    .home-container h3 {
        font-size: 30px;
    }
    .links{
        display: none;
    }

    .title h3 {
        font-size: 20px;
    }

    .responsive-visibility {
        display: block;
    }



}

@media only screen and (max-width: 830px) {

    .home-container h1 {
        text-align: center;
    }

    .home-container h3 {
        font-size: 25px;
    }

    .btn {
        padding: 8px 20px;
    }



    .title h3 {
        font-size: 20px;
    }

    .links {
        display: none;
    }

}



@media only screen and (max-width: 768px) {

    .btn {
        padding: 8px 15px;
    }

    .home-container h1 {
        font-size: 26px;
        text-align: center;
    }

    .home-container h3 {
        font-size: 18px;
        text-align: center;
    }



    .title h3 {
        font-size: 18px;
    }

    .links {
        display: none;
    }

    .wrapper.active {
        position:absolute;
        width: 100%;
        top:0px;
        right:0px;
        bottom:0px;
        left:0px;
    }





}

@media only screen and (max-width: 600px) {

    .home-container h1 {
        text-align: center;
    }

    .btn {
        padding: 7px 13px;
        font-size: 12px;
    }

    .title h3 {
        font-size: 17px;
        
    }

    .title img {
        width: 50px;
    }

    .links {
        display: none;
    }
}


@media only screen and (max-width: 530px){


    
    .home-container h1 {
        font-size: 22px;
        
    }

    .home-container h3 {
        font-size: 13px;
    }

    .title h3 {
        font-size: 15px;
    }

    .title img {
        width: 40px;
    }
}




@media only screen and (max-width: 476px){


    .title h3 {
        font-size: 13px;
    }

    .title img {
        width: 35px;
    }
    .title img {
        display: none;
    }
}



@media only screen and (max-width: 300px){

    .btn {
        padding: 6px 10px;
    }

    .home-container h1 {
        font-size: 18px;
        
    }

    .home-container h3 {
        font-size: 14px;
    }
    .title h3 {
        font-size: 10px;
    }

    .title img {
        display: none;
    }

}