@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;

}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  }
  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
  .form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
  }
  .form-control:-ms-input-placeholder {
    color: #999;
  }
  .form-control::-webkit-input-placeholder {
    color: #999;
  }
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0;
  }
  .form-control[disabled],
  .form-control[readonly],
  fieldset[disabled] .form-control {
    background-color: #eeeeee;
    opacity: 1;
  }
  .form-control[disabled],
  fieldset[disabled] .form-control {
    cursor: not-allowed;
  }

  .form-textarea{
      height: auto;
  }



img#bg {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    max-height: 1080px;
    z-index: -999999;
    background-size: 100% 100%;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-right: 20vw;
    margin-bottom: 10vh;
}

.title img {
    width: 15em;
}

.title h3 {
    margin: 20px;
    text-align: center;
    color: rgb(23, 23, 23);
}



.form h3 {
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
}



.form input[type=text], .form input[type=number], .form input[type=password] {
    width: 30vw;
    padding: 20px 10px;
    min-width: 250px;

}

.form-field {
    margin-bottom: 5vh;
}

.hide {
    display: none;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.btn {
    color: white;
    padding: 10px 40px;
    border-radius: 8px;
    text-align: center;
    background-color: #439236;
    transition: all 0.2s;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #48a739;
}

.buttons {
    display: flex;
    justify-content: center;
}

.error-text {
    color: red;
}

.error {
    border: 1px solid red;
}

.already  {
    margin-top: 15px;
    text-align: center;
}

.error-style {
    text-align: left;
    padding: 10px 0;
}

@media only screen and (max-width: 992px) {
    
    .title {
        margin-top: 15vh;
        margin-right: 5vw;
    }

    .form {
        margin-top: 15vh;
    }

    .title img {
        width: 200px;
    }

    .title h3 {
        font-size: 18px;
    }

    .form input[type=text], .form input[type=number], .form input[type=password] {
        width: 40vw;
        padding: 20px 10px;
    }
}

@media only screen and (max-width: 768px) {
    .spacer {
        margin-top: 10vh;
    }

    .title {
        margin-right: 5vw;
    }

    .title img {
        width: 150px;
    }

    .title h3 {
        font-size: 15px;
    }

    .form input[type=text], .form input[type=number], .form input[type=password] {
        width: 40vw;
        padding: 20px 10px;
    }

}

@media only screen and (max-width: 600px) {

    .container {
        flex-direction: column;
        align-items: center;
        
    }

    .btn {
        padding: 7px 30px;
    }

    .title {
        margin: 0;
    }

    .form {
        margin: 0;
    }

    .title h3 {
        display: none;
    }

    .title img {
        width: 100px;
        margin-bottom: 25px;
    }

    .form h3 {
        font-size: 20px;
    }

    .form input[type=text], .form input[type=number], .form input[type=password] {
        width: 60vw;
        padding: 20px 10px;
    }

    .form-field {
        margin-bottom: 1.3vh;
    }

}
