
        
        .stats-container {
            display: flex;
            justify-content: center;
            align-items: center;

        }


        .stats-top {
            display: flex;
            align-items: center;
            height: 300px;
            border-right: 1px solid lightgrey;
            padding-right: 20px;
            max-width: 500px;
        }

        .color {
            padding: 3px;
        }

        #color0 {
            background-color: #b91d47;
        }

        #color1 {
            background-color: #00aba9;
        }

        #color2 {
            background-color: #2b5797;
        }

        #color3 {
            background-color: #e8c3b9;
        }

        #color4 {
            background-color: #1e7145;
        }

        .main-container {
            display: flex;
            height: 80vh;
            flex-direction: column;
            justify-content: space-around;
        }

        h1{
            text-align: center;
            color: rgb(45, 45, 45);
        }

        @media screen and (max-width: 950px){

            .main-container {
                justify-content: space-evenly;
            }
            .stats-container {
                flex-direction: column;
            }

            #myChart {
                order: -1;
                padding-bottom: 30px;
            }

            

            .stats-top {
                text-align: center;
                border: none;
                padding-top: 30px;
                height: auto;
                border-top: 1px solid lightgrey;
            }
        }
