
        
        .stats-container {
            display: flex;
            justify-content: center;
            align-items: center;

        }


        .stats-top {
            display: flex;
            align-items: center;
            height: 300px;
            border-right: 1px solid lightgrey;
            padding-right: 20px;
            max-width: 500px;
        }

        .even{
            padding: 0;
            padding-left: 20px;
            border-left: 1px solid lightgrey;
            border-right: none;
        }

        .color {
            padding: 3px;
        }

        #color0 {
            background-color: #b91d47;
        }

        #color1 {
            background-color: #00aba9;
        }

        #color2 {
            background-color: #2b5797;
        }

        #color3 {
            background-color: #1e7145;
        }

        #color4 {
            background-color: grey;
        }

        #color5 {
            background-color: #1db966;
        }

        #color6 {
            background-color: #1d88b9;
        }


        #color7 {
            background-color: #b9921d;
        }


        #color8 {
            background-color: #82b91d;    
        }


        .main-container {
            display: flex;
            margin-top: 10vh;
            flex-direction: column;
            justify-content: space-around;
        }

        h1{
            text-align: center;
            color: rgb(45, 45, 45);
            margin-bottom: 30px;
        }

        canvas {
            width: 100%;
            max-width: 600px;
        }

        .main-stats {
            margin-bottom: 10vh;
        }

        

        @media screen and (max-width: 950px){

            .main-container {
                justify-content: space-evenly;
            }
            .stats-container {
                flex-direction: column;
            }

            canvas {
                order: -1;
                padding-bottom: 30px;
            }




            

            .stats-top {
                text-align: center;
                border: none;
                padding-top: 30px;
                height: auto;
                border-top: 1px solid lightgrey;
            }
        }
